name: Release

on:
  release:
    types: [ created ]

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Export Go Version
        id: goversion
        run: echo "GOVERSION=$(go version | awk '{print $3}')" >> $GITHUB_ENV
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_TAP_GITHUB_SECRET: ${{ secrets.GORELEASER_TAP_GITHUB_SECRET }}
      - name: Update new version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.47
      - name: Publish deb to repository
        run: |
          curl --fail -H "Authorization: ${{ secrets.DEPLOY_TOKEN }}" "https://smd.akiel.dev/hook?script=${{ secrets.DEPLOY_SCRIPT }}"
